body {
    padding: 20px; 
    border: 1px solid #000; 
    border-radius: 5px;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

.img-header {
    border-radius: 25px;
	max-height: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 728px) {
    .img-header {
        max-height: 110px;
    }
}